# DSA - Cap 04 - Números

In [1]:
# Versão da linguagem Python
from platform import python_version
print ("Versão do python", python_version)

Versão do python <function python_version at 0x000001C94AC207C0>

In [2]:
#Soma 
4 + 4

8

In [3]:
#Subtração 
7 - 9

-2

In [4]:
# Multiplicação 
7 * 7

49

In [5]:
#Divisão 
14500 / 124

116.93548387096774

In [6]:
# Potencia --- numero elevado 
4 ** 2

16

In [9]:
# Módulo --- resto da divisao 
5 % 6

5

In [10]:
# Função Type 
type (5)

int

In [11]:
type (5.0)

float

In [17]:
a = 'Estou estudando python' 
type(a)

TypeError: 'str' object is not callable

In [18]:
a = "string"
type (a)

TypeError: 'str' object is not callable

In [1]:
# atribuindo 1 a variavel var_teste
var_teste = 1

In [2]:
# imprimindo a var_teste 
var_teste

1

In [3]:
# imprimindo fr outra forma
print (var_teste)

1

In [4]:
# sem declarar my_var - da mensagem de erro porque nao foideclarada
my_var

NameError: name 'my_var' is not defined

In [5]:
type (var_teste)

int

In [6]:
var_teste=1.5

In [7]:
type (var_teste) --- quando vc atribui o valor flutuante o python transforma o tipo para float

float

In [8]:
pessoa1, pessoa2, pessoa3 = "Bob" , "Maria",  "Ana"

In [9]:
pessoa1

'Bob'

In [10]:
pessoa2

'Maria'

In [11]:
pessoa3

'Ana'

In [12]:
fruta1 = fruta2 = fruta3 = "Melancia"

In [13]:
fruta1

'Melancia'

In [14]:
fruta2

'Melancia'

In [15]:
fruta3

'Melancia'

In [16]:
Fruta3

NameError: name 'Fruta3' is not defined

# python é case sensitive

In [ ]:
# não pode começar nome de variável com números 
# e também nao pode usar nomes de palavras reservadas que o python ja utiliza

In [17]:
break = 1

SyntaxError: invalid syntax (1545200237.py, line 1)

In [18]:
1x = 50

SyntaxError: invalid decimal literal (3637274086.py, line 1)

In [19]:
largura = 2 ; altura = 4

In [20]:
largura

2

In [21]:
altura

4

In [22]:
perimetro = largura * altura

In [23]:
print (perimetro)

8

In [24]:
perimetro = 2 * (largura + 2) * altura

In [25]:
print (perimetro)

32

# Funçoes Built-in de Strings 

#s.upper(converte tudo para maiusculo) precisa colocar metodo por ser parenteses 
atributo nao precisa de parenteses 
     
#s.lower (converte tudo para minusculo) 
#s.split (divide uma string por espaço, palavra por palavra e da um espaço)
#s.split(y)quando ele encontrar um Y vai dar um espaço
#s.capitalize (converte a primeira letra da frase para maiusculo)
#s.count ('a') conta quantas vezes tem a letra a na frase 
#s.isalnum (essa string é toda de numeros?) 
#s.islower (essa string é tudo minusculo?)
#s.isspace (essa string tem só espaços?  )
#s.endswith ('o') essa estring termina com a letra o ?

In [1]:
s='1000'

In [2]:
s

'1000'

In [3]:
type (s)

str

# Comparando String
== para igualdade 
print ("Python" == "R")

In [4]:
print ("Python" == "R")

False

In [5]:
print ("Python" == "Python")

True

# Listas em PYTHON

In [6]:
lista1 = ["arroz, frango, tomate, leite"]

In [30]:
ex1 = [1,2,3,4,5,6,7,8,9,10]

In [31]:
ex1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [32]:
ex2 = ["edy","felipe", 45 , 8, 'amores']

In [33]:
ex2

['edy', 'felipe', 45, 8, 'amores']

In [34]:
ex3_l1 = ["eu posso aprender data science"]

In [35]:
ex3_l1

['eu posso aprender data science']

In [38]:
ex3_l3 = ex3_l1 + ex3_l2

In [39]:
ex3_l3

['eu posso aprender data science', 'e também aprender python']

In [36]:
ex3_l2 = ["e também aprender python"]

In [37]:
ex3_l2

['e também aprender python']

In [40]:
tupl = ( 1, 2, 2, 3, 4, 4, 4, 5 )

In [41]:
tupl

(1, 2, 2, 3, 4, 4, 4, 5)

In [42]:
tupl.count ()

TypeError: tuple.count() takes exactly one argument (0 given)

## type (lista1)

In [8]:
print (lista1)

['arroz, frango, tomate, leite']

In [9]:
lista2 = ["arroz", "frango", "tomate", "leite"]

In [10]:
type (lista2)

list

In [11]:
print (lista2)

['arroz', 'frango', 'tomate', 'leite']

In [12]:
lista3 = [45, 100, "tomate", "leite"]

In [13]:
print (lista3)

[45, 100, 'tomate', 'leite']

In [14]:
type (lista3)

list

In [15]:
item1= lista3[0]
item2= lista3[1]
item3= lista3[2]
item4= lista3[3]

In [16]:
print (item1,item2,item3)

45 100 tomate

In [17]:
#atualizando um item da lista 
print (lista2)

['arroz', 'frango', 'tomate', 'leite']

In [18]:
lista2[1]="chocolate"

In [19]:
print (lista2)

['arroz', 'chocolate', 'tomate', 'leite']

In [20]:
lista2

['arroz', 'chocolate', 'tomate', 'leite']

In [22]:
del lista2[4]

IndexError: list assignment index out of range

In [23]:
del lista2[4]

IndexError: list assignment index out of range

In [24]:
lista2

['arroz', 'chocolate', 'tomate', 'leite']

In [25]:
del lista2[3]

In [26]:
lista2

['arroz', 'chocolate', 'tomate']

In [27]:
listas = [ [1,2,3,4] , [10,15,14] , [2,3,4,5]]

In [28]:
listas

[[1, 2, 3, 4], [10, 15, 14], [2, 3, 4, 5]]

## concatenando listas com sinal de mais +
### operador in - o numero 10 está dentro da lista ?  in pergunta se esta dentro

# built in len === qual é o tamanho da lista
# built in max --- qual valor maximo da lista 
# built in min --- qual valor minimo da lista

In [29]:
lista_num = [10,20,400,3.5]

In [30]:
len (lista_num)

4

In [31]:
max  (lista_num)

400

In [32]:
min  (lista_num)

3.5

In [33]:
lista_formacoes = ["analista de dados", "cientista de dados"]

In [34]:
lista_formacoes

['analista de dados', 'cientista de dados']

In [35]:
lista_formacoes.append ("engenheiro IA")

In [36]:
lista_formacoes

['analista de dados', 'cientista de dados', 'engenheiro IA']

In [37]:
lista_formacoes.append ("engenheiro IA")

In [38]:
lista_formacoes

['analista de dados', 'cientista de dados', 'engenheiro IA', 'engenheiro IA']

In [39]:
lista_formacoes.count ()

TypeError: list.count() takes exactly one argument (0 given)

In [40]:
lista_formacoes.count (engenheiro IA)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1921266690.py, line 1)

In [41]:
lista_formacoes.count ("engenheiro IA")

2

In [42]:
a= []

# lista [separado por chaves]
# dicionario {outra estrutura de dados, dentro dele, pares separado por , exemplo"Ana":26 , } dict

In [1]:
dict = {}

In [43]:
dict = {}

In [44]:
dict

{}

In [2]:
dict ["Edy"] = 45

In [3]:
dict

{'Edy': 45}

In [4]:
dict2 = {"chave1":1230, "chave2": [22,453,73,5.4], "chave3":['picanha', 'fraldinha', 'alcatra']}

In [5]:
dict2

{'chave1': 1230,
 'chave2': [22, 453, 73, 5.4],
 'chave3': ['picanha', 'fraldinha', 'alcatra']}

In [6]:
dict2 ['chave3']

['picanha', 'fraldinha', 'alcatra']

In [7]:
dict2 ['chave3'] [0].upper

In [8]:
dict2 ['chave3'] [0].upper()

'PICANHA'

In [9]:
var1 = dict2['chave2'][1]-3

In [11]:
var1

450

In [12]:
dict2['chave2'][1]-=5

In [13]:
dict2

{'chave1': 1230,
 'chave2': [22, 448, 73, 5.4],
 'chave3': ['picanha', 'fraldinha', 'alcatra']}

In [15]:
dict_aninhado = {"chave1":1230 { "chave2": [22,453,73,5.4],}"chave3":['picanha', 'fraldinha', 'alcatra']}

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2119894078.py, line 1)

# lista - mais usada [] pode ser modificado 
## dicionario - menos usada {} pode ser modificado
### tuplas - tem mais limitações () parenteses - usada para que não tenha alteração, não sera modificado, tupla nao pode ser deletado também. não usa append, nem del

In [17]:
tupla1 = ("geografia",23 , "elefante", 9.8, "python")

In [18]:
tupla1

('geografia', 23, 'elefante', 9.8, 'python')

In [19]:
tupla1 [0]

'geografia'

In [21]:
len tupla1

SyntaxError: invalid syntax (3263166947.py, line 1)

In [22]:
len (tupla1)

5

In [25]:
lista2Tupla = list(tupla1)

In [24]:
type (tupla1)

tuple

In [26]:
lista2Tupla.append ("maisum")

In [27]:
lista2Tupla

['geografia', 23, 'elefante', 9.8, 'python', 'maisum']

In [28]:
TuplaNew = tuple (lista2Tupla)

In [29]:
TuplaNew

('geografia', 23, 'elefante', 9.8, 'python', 'maisum')